__pycache__/
./new-subs/*.zip
./404.txt
./opensubs.db
./original-zips/
./opensubtitles_dump_client/repack-grouped/
./opensubtitles_dump_client/index.txt
./opensubtitles_dump_client/index-grouped/
./opensubtitles_dump_client/opensubs.db.crc-cache
./opensubtitles_dump_client/repack.py.log
./opensubtitles_dump_client/index.txt.outliers
./trash/
*.db
*.tsv.gz
*.iso
*.udf
*.tar
*.gz
*.xz
subtitles_all.txt
subtitles_all.txt.gz-parse-debug.txt
subtitles_all.txt.gz-parse-errors.txt
done-zips/
repack-grouped/
repack.py.log
fetch_subs_secrets.py
*.log
new-subs-archive.py-sum_files.txt
new-subs-archive.py-tempdir/


# Added by cargo

/target
cookies/
subtitles_all.txt.gz.2*T*.*Z*
new-subs/
opensubtitles-scraper-new-subs/
