# TODO add your opensubtitles.org VIP accounts here
# so you get subtitles without ads
# so you can 1000 subtitles per day per VIP account

opensubtitles_org_logins = [
    # ("user1", "password1"), # user1@example.com
    # ("user2", "password2"), # user2@example.com
    # ("", ""), #
]

# TODO add your reddit app here
# https://www.reddit.com/prefs/apps/
if 0:
    reddit_client_id = "xxxxxxxxxxxxxxxxxxxxxx"
    reddit_client_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    reddit_username = "xxxxxxx"
    reddit_password = "xxxxxxxxxxxxxxxxxx"
    reddit_user_agent = f"torrent uploader bot by /u/{reddit_username}"
